<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load the properties file into the context -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
	
    <!-- Define your beans here -->
    <bean id="myLoggerConfig" class="com.vinay.springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <!-- Define the dependency -->
    <bean id="myFortuneService"
    		class="com.vinay.springdemo.RandomFortuneService">
    </bean>
    
    
    <bean id="myCoach"
    		class="com.vinay.springdemo.TrackCoach">
    	<constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>
    
    <!-- Setter dependency injection -->
    <bean id="myCricketCoach"
    		class="com.vinay.springdemo.CricketCoach">
    	<property name="fortuneService" ref="myFortuneService"></property>
    	<property name="emailAddress" value="${foo.email}"></property>
    	<property name="team" value="${foo.team}"></property>		
    </bean>
</beans>
